:root{
    --main-background-color: #ffffff;
    --border-color: #020202;
}
body, html{
    font-family: system-ui;
    background: #020202;
    height: 100%;
    padding: 0;
    margin: 0;
}
body, .drop-zone{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.upload-container{
    background: #ffffff;
    border-radius: 30px;
    box-shadow: 2px 5px 20px black;
}

.drop-zone{
    width: 500px;
    min-height: 200px;
    border: 2px dashed #00000f;
    margin: 30px;
    border-radius: 10px;
}

.icon-container{
    width: 75px;
    height: 100px;
    position: absolute;
}

.icon-container img{
    width: 75px;
    position: absolute;
    transform-origin: bottom;
    transition: transform 250ms ease-in-out;
}
.icon-container .center{
    z-index: 2;
}

.icon-container .right, .icon-container .left{
    filter: grayscale(.5);
    transform: scale(.9);
}

.dragged .icon-container .right{
    transform: rotate(15deg) translateX(15px) scale(.9);
}
.dragged .icon-container .left{
    transform: rotate(-15deg) translateX(-15px) scale(.9);
}
.dragged .icon-container .center{
    transform: translateY(10px);
}
.title {
    display: flex;
    justify-content: bottom;
    flex-direction: column; 
    min-height: 200px; 
    align-items: center;
}